<%= render 'shared/page_title', title: 'showing all Chefs' %>

<% @chefs.each do |item| %>
 
  <div class = "row">
    <div class = "col-md-2">
      <section class ="center">
        
      </section>
    </div>
    <div class = "col-md-8 well">
      <h4><%= link_to item.name, chef_path(item) %></h4>
      <p><small><%=item.recipes.count%> recipes</small></p>
      <p>
        <span class ="quiet"><small>Created <%= time_ago_in_words(item.created_at) %> ago </small></span>
       </p>
       <p>
       <%= link_to "Delete this chef", chef_path(item), method: :delete,
            data: {confirm: "Are you sure you want to delete the chef and all associated recipes?" }%>      
      </p>
    </div>
  </div>
<% end %>